body {
    background-color: #404040;
    color: #f0f0f0;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
}
  
h1 {
    color: #f0f0f0
}
  
h2 {
    color: #f0f0f0
}
  
h3 {
    color: #f0f0f0
}
 
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #202020;
    color: #d0d0d0;
    padding: 15px;
    border-radius: 15px
}
 
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px
}
  
#container {
    display: table;
}
  
#navigation {
    display: table-cell;
    vertical-align: top;
    width: 350px;
    position: fixed;
    background: #999999;
    margin: 20px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.6
}
 
#navigation a:link {
    color: #FFFFFF
}
 
#navigation a:visited {
    color: #FFFFFF
}
  
#main {
    display: table-cell;
    vertical-align: top;
    display: inline-block;
    margin-left: 440px;
    width: 60vw
}
 
.jp { color: #f0f0f0 }
.jk { color: #6ab825 }
.ji { color: #3677a9 }
.jf { color: #24909d }
.js { color: #ed9d13 }
.jb { color: #9c36a9 }
.jn { color: #d22323 }
 
.hg { color: #589819; font-weight: bold; font-size: 1.2em }
.hp { color: #447fcf; font-weight: bold; font-size: 1.2em }
.hd { color: #e21f1f; font-weight: bold; font-size: 1.2em }
.hu { color: #9c36a9; font-weight: bold; font-size: 1.2em }
.hb { color: #6b6a6a }
.hr { color: #f0f0f0; font-weight: bold; padding-left: 3px }
.ht { color: #ed9d13; padding-left: 3px; padding-right: 3px }
.hs { color: #6b6a6a; padding-left: 3px; padding-right: 3px }
.hk { color: #6ab825 }
.hv { color: #ed9d13 }
