body {
    background-color: #f0f0f0;
    color: #404040;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
}

a {
    color: #8e2424
}

h1 {
    color: #404040
}

h2 {
    color: #404040
}

h3 {
    color: #404040
}

/* pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #333333;
    color: #d0d0d0;
    padding: 15px;
    border-radius: 15px
} */

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px
}

#container {
    display: table;
}

#navigation {
    /* background: #f0f0f0; border-radius: 15px; */
    display: table-cell;
    vertical-align: top;
    width: 350px;
    position: fixed;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.6
}

#navigation a {
    color: #374052
}

#content {
    display: table-cell;
    vertical-align: top;
    display: inline-block;
    margin-left: 440px;
    width: 60vw
}
